<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.martins.tsiapplication">

    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:allowBackup="true"
        android:icon="@drawable/autocollant_tete_maure_corse"
        android:label="@string/app_name"
        android:roundIcon="@drawable/autocollant_tete_maure_corse"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity
            android:name=".MainActivity"
            android:label="@string/app_name"
            android:theme="@style/AppTheme.NoActionBar">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".activities.AddNewTaskActivity"
            android:label="@string/app_name">
        </activity>
        <activity android:name=".activities.EditTaskActivity"
            android:label="@string/app_name">
        </activity>
    </application>

</manifest>